$blue-1d2: #1D263B;
$blue-ebf: #EBFCFB;
$blue-5c6: #5C6784;
$blue-037:#037e93;
$blue-049:#0498b1;

$gray-ced:#CEDFD9;
$gray-434:#434B60;
$gray-dad: #dadada;
$gray-e8e:#e8ebed;
$gray-576: #576366;
$gray-34f: #3f4850;
$gray-747: #747475;

$green-157: #157F1F;

$pink-e20: #e20c79;

$white: #ffffff;
