&__repositories{
  display: flex;
  flex-direction: column;
  margin: 100px auto 100px auto;
  padding: 70px 15px 0px 15px;

  &__title{
    color: $blue-1d2;
    letter-spacing: 1.3px;
    margin-bottom: 50px;
    text-align: center;
  }

  &__container{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    &-item{
      flex: 0 0 33%;

      @media only screen and (max-width: $width-medium){
        flex: 0 0 50%;
      }
      
      @media only screen and (max-width: $width-small){
        flex: 0 0 90%;
      }

    }
  }

  &__more{
    background-color: $blue-1d2;
    border-radius: 3px;
    color: $pink-e20;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 2.5px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 50%;

    &:hover{
      background-color: $pink-e20;
      color: $white;
    }
  }

  @media only screen and (max-width: $width-medium){
    padding: 0;
  }
}