
@keyframes menu__slide__down {
	0% {
			opacity: 0;
			transform: translateY(-100%);
	} 
	100% {
			opacity: 1;
			transform: translateY(0);
	} 
}

&__menu {
	align-items: center;
	display: flex;
	position: absolute;
	z-index: 5;

	&__title {
		display: none;
	}

	&--fixed {
		position: absolute;
		
		&__title {
			color: $white;
			display: none;

			small {
				font-size: 0.7rem;
				margin-left: 5px;
				position: absolute;
				top: 20px;
			}

			@media only screen and (min-width: $width-large) {
				display: block;
			}
		}

		@media only screen and (min-width: $width-medium) {
			background-color: $blue-1d2;
			justify-content: space-between;
			padding: 10px 5%;
			position: fixed;
			animation: menu__slide__down 0.7s;
		}
	}

	&__back {
		background-color: $blue-1d2;
		border-radius: 100%;
		position: fixed;
		right: 2%;
		top: 90%;
		height: 40px;
		z-index: 10;

		svg {
			color: $white;
			font-size: 1.7em;
			padding: 10px;
		}
	}

	&__burguer {
		display: none;
		text-align: center;
		width: 50px;

		&-icon {
			color: $white;
			font-size: 2em;
		}

		&-icon--active {
			position: fixed;
			top: 10px;
			right: 15px;
			z-index: 6;
		}

		@media only screen and (max-width: $width-medium) {
			display: block;
		}
	}

	&__container {
		align-items: center;
		display: flex;
		flex-direction: row;

		&-item {
			cursor: pointer;
			flex: 1 1 15%;
			padding: 10px;

			a {
				color: $white;
				font-size: 0.9em;
				text-decoration: none;
				letter-spacing: 2px;
			}

			&:hover {
				background-color: $white;

				a {
					color: $blue-1d2;
				}

				transition: 0.5s ease;
			}

			@media only screen and (max-width: $width-medium) {
				flex: 0;
				height: 30px;
				margin-bottom: 10px;
				padding: 10px;
				text-align: right;
				width: 100%;
			}
		}

		@media only screen and (max-width: $width-medium) {
			background: $blue-1d2;
			display: none;
			flex-direction: column;
			height: 100%;
			min-height: 100vh;
			padding: 20px;
			padding-top: 50px;
			position: absolute;
			text-align: right;
			top: 0px;
			z-index: 2;
		}
	}

	&__container--active {
		display: flex;
		position: fixed;
	}
}
